.Result {
  width: 428px;
  height: 328px;
  position: relative;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
  background: #ffffff; }
  .Result > .image {
    width: 181px;
    height: 266px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 31px;
    right: -18px;
    z-index: 99;
    border: solid 2px #232323; }
    .Result > .image img {
      width: 100%;
      height: 100%; }
  .Result > span.title {
    display: block;
    top: 18px;
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    color: #353535;
    padding: 12px 20px;
    margin: 0; }
  .Result > p {
    padding: 95px 23px 22px 23px;
    width: 255px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #000000; }
  .Result > .buttons {
    padding: 20px 16px 23px 0;
    position: absolute;
    bottom: 0;
    left: 23px;
    right: 25px;
    z-index: 20; }
    .Result > .buttons a {
      background: #ffc2d6;
      color: #484747;
      font-size: 13px;
      padding: 6px;
      border-radius: 100%;
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      margin-right: 13px;
      cursor: pointer; }
      .Result > .buttons a svg {
        transform: translate(-10px, -10px); }
