.Blurb {
  p {
    margin: 2px;
    font-size: 14px;
    font-weight: 300;
  }
  p span {
    font-weight: 700;
  }
  h3 {
    font-family: 'Josefin Slab', serif;
    margin-top: 0;
    margin-bottom: 20px;
  }
}