.Blurb {
  color: #000000;
  margin-bottom: 108px; }
  .Blurb p {
    max-width: 415px; }
  .Blurb p span {
    font-weight: 700; }
  .Blurb h3 {
    margin-top: 0;
    margin-bottom: 25px; }
  .Blurb > .inner {
    padding: 55px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    background: #ffffff; }
  .Blurb > .inner > .Button {
    margin-top: 50px;
    width: 212px; }
