.Blurb {
  padding: 40px;
  background: #DEFFFD;
  position: relative; }
  .Blurb p span {
    font-weight: 700; }
  .Blurb h3 {
    font-weight: 400;
    font-style: italic;
    margin-top: 5px; }
  .Blurb .blurb-footer {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: right;
    padding-top: 12px;
    border-top: solid 1px #979797; }
    .Blurb .blurb-footer a {
      text-decoration: none; }
