.Nav {
  position: fixed;
  z-index: 9999;
  color: #ffffff;
  width: 100%;
  height: 44px;
  padding: 10px 27px;
  font-weight: 300; }
  .Nav li {
    list-style-type: none;
    display: inline-block; }
  .Nav a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: solid 3px transparent; }
  .Nav a.active {
    border-bottom: solid 3px #fc5185; }
  .Nav h3.logo {
    font-size: 18px; }
  .Nav h3 {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    display: inline-block; }
    .Nav h3 span {
      font-weight: 700; }
  .Nav .image {
    width: 25px;
    height: 25px;
    background: #EBEBEB;
    display: inline-block;
    border-radius: 100%;
    padding: 5px;
    transform: translateY(2px);
    margin-left: 16px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2); }
    .Nav .image img {
      width: 100%; }
  .Nav > div {
    display: inline-block; }
  .Nav .dd-arrow {
    display: inline-block;
    cursor: pointer; }
  .Nav .dd {
    position: absolute;
    background-color: #f5f5f570;
    border-radius: 5px;
    font-size: .9em;
    padding: 10px 15px 8px 15px;
    transform: translateX(-5px);
    top: 44px;
    right: 0; }
    .Nav .dd.closed {
      display: none; }
    .Nav .dd.open {
      display: block; }
  .Nav .links {
    position: absolute;
    right: 20px;
    top: 5px; }
    .Nav .links a {
      display: inline-block;
      margin-right: 32px; }
      .Nav .links a:last-of-type {
        margin-left: -3px;
        margin-right: 13px; }
