.Nav {
  position: fixed;
  z-index: 9999;
  background-color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid #E0E0E0; }
  .Nav a {
    text-decoration: none; }
  .Nav a.active h3 {
    font-weight: 700; }
  .Nav h3.logo {
    font-size: 24px;
    line-height: 22px; }
  .Nav h3 {
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    margin: 0; }
    .Nav h3 span {
      font-weight: 700; }
  .Nav > div {
    display: inline-block;
    padding: 17px 20px; }
  .Nav .links {
    position: absolute;
    right: 0; }
    .Nav .links a {
      display: inline-block;
      margin-right: 45px; }
      .Nav .links a:last-child {
        margin-right: 0; }
