.Nav {
  position: fixed;
  z-index: 9999;
  background-color: #FC5185;
  color: #ffffff;
  width: 100%;
  box-shadow: 0 2px 4px -2px   rgba(0, 0, 0, 0.5);
  height: 44px;
  a { text-decoration: none; }
  a.active h3 {
    font-weight: 700;
  }
  h3.logo {
    font-size: 18px;
    margin-top: 12px;
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    span {
      font-weight: 700;
    }
  }
  .image {
    width: 25px;
    height: 25px;
    background: #EBEBEB;
    display: inline-block;
    border-radius: 100%;
    padding: 5px;
    transform: translateY(25%);
    margin-left: 16px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
    }
  }
  & > div {
    display: inline-block;
    transform: translateY(-4px);
    padding: 0 22px;
  }
  .dd-arrow {
    display: inline-block;
    border: solid 7px;
    border-top-color: rgba(0, 0, 0, .3);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: translateY(6px);
    cursor: pointer;
  }
  .dd {
    position: absolute;
    background-color: #fc5185d6;
    padding: 15px;
    top: 44px;
    right: 0;
    &.closed { display: none; }
    &.open { display: block; }
  }
  .links {
    a {
      display: inline-block;
      margin-right: 32px;
      &:last-of-type {
        margin-left: -3px;
        margin-right: 13px;
      }
    }
    position: absolute;
    right: 0;
  }
}