// app-wide stles
@import '_fonts.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}

html, body {
}

a { color: inherit; }
