@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Yeseva+One");
* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  background: #2B2B2B; }

p {
  margin: 0; }

a {
  color: inherit; }

h1 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }
