.Paginator {
  position: relative;
  text-align: center;
  .oval {
    display: inline-block;
    margin: 3px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #FF9586;
    cursor: pointer;
  }
  .oval.current {
    width: 15px;
    height: 15px;
    background: #FF4026;
  }
}