.Section {
  position: relative;
  h3 {
    font-family: 'Josefin Slab', serif;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p {
    margin: 3px 0;
    font-size: 16px;
    font-weight: 300;
  }
  img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 0px -1px 10px -1px rgba(0, 0, 0, 0.5);
  }
}