.Section {
  position: relative; }
  .Section h3 {
    font-family: 'Josefin Slab', serif;
    margin-top: 0;
    margin-bottom: 20px; }
  .Section p {
    margin: 3px 0;
    font-size: 14px;
    font-weight: 300; }
  .Section img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 0px -1px 10px -1px rgba(0, 0, 0, 0.5); }
