@import '../../styles/colors.scss';

.Message {
  background: $black;
  transform: translate(0, -100%);
  transition: transform 100ms;
  z-index: 9999;

  &.shown {
    transform: translate(0, 0);
  }
}