.Lists li {
  list-style-type: none;
  position: relative; }
  .Lists li p.count {
    position: absolute;
    top: 11px;
    right: 0;
    background-color: #FC5185;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
    font-size: .8em; }
