.SearchShow {
  .SearchBar {
    padding-top: 32px;
    input {
      width: 30%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .divider {
    width: 173px;
    height: 1px;
    background: #FC5185;
    position: relative;
    margin: 50px auto;
  }
}