.SearchShow {
  .Sidebar {
    width: 21%;
    & > p {
      font-weight: 300;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    .Lists {
      li {
        padding: 11px 0 14px 0;
      }
    }
  }
  .search-results {
    position: absolute;
    left: 21%;
    right: 0;
    top: 84px;
  }
  .Paginator {
    padding-top: 35px;
    padding-bottom: 72px;
  }
}