.SearchShow .SearchBar {
  padding-top: 32px; }
  .SearchShow .SearchBar input {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.SearchShow .divider {
  width: 173px;
  height: 1px;
  background: #FC5185;
  position: relative;
  margin: 50px auto; }

.SearchShow .Paginator {
  padding-top: 35px;
  padding-bottom: 72px; }
