.SearchShow .Sidebar {
  width: 21%; }
  .SearchShow .Sidebar > p {
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 20px; }
  .SearchShow .Sidebar .Lists li {
    padding: 11px 0 14px 0; }

.SearchShow .search-results {
  position: absolute;
  left: 21%;
  right: 0;
  top: 84px; }

.SearchShow .Paginator {
  padding-top: 35px;
  padding-bottom: 72px; }
