@import '../../styles/_colors.scss';

.TopBar {
  // height: 50px;
  padding: 15px;
  text-align: center;
  font-size: .85em;
  color: $white;
  background-color: $base;
  font-weight: 300;
  position: fixed;
  width: 100%;
  z-index: 999;
}