.Button {
  height: 42px;
  font-size: 1em;
  border: solid 2px #FC5185;
  color: #FC5185;
  background: transparent;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
