@import '../../../styles/colors.scss';

.SearchResult {
  .buttons {
    position: absolute;
    right: 0;
    bottom: -1em;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    font-size: 1.15em;
    color: #CACACA;
    .check {
      color: $base;
    }
  }
}