.Banner {
  position: relative;
  color: #ffffff; }
  .Banner div.content {
    position: relative;
    left: 50%;
    padding: 85px;
    transform: translateX(-50%);
    width: fit-content; }
    .Banner div.content p {
      margin: 0;
      text-align: right; }
  .Banner h1 {
    font-family: 'Yeseva One', cursive;
    margin: 0;
    font-weight: 400; }
    .Banner h1 span {
      font-weight: 700; }
