.Banner {
  position: relative;
  color: #ffffff;
  div.content {
    position: relative;
    left: 50%;
    padding: 85px;
    transform: translateX(-50%);
    width: fit-content;
    p {
      margin: 0;
      text-align: right;
    }
  }
  h1 {
    font-family: 'Yeseva One', cursive;
    margin: 0;
    font-weight: 400;
    span {
      font-weight: 700;
    }
  }
}