.Banner {
  height: 382px;
  position: relative; }
  .Banner div.content {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%); }
    .Banner div.content .Button {
      transform: translateY(68px);
      width: 212px; }
    .Banner div.content p {
      margin-top: 0;
      text-align: right; }
  .Banner h1 {
    margin-bottom: 0;
    font-weight: 400; }
    .Banner h1 span {
      font-weight: 700; }
  .Banner .Modal > .inner {
    width: 500px; }
    .Banner .Modal > .inner .LoginForm {
      border-radius: 5px; }
