.Banner {
  height: 382px;
  position: relative; }
  .Banner div {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%); }
  .Banner h1 {
    margin-bottom: 0;
    font-weight: 400; }
    .Banner h1 span {
      font-weight: 700; }
  .Banner p {
    margin-top: 0;
    text-align: right; }
  .Banner .Button {
    transform: translateY(140px);
    width: 212px; }
