.Footer {
  padding: 48px;
  background-color: #3E3E3E;
  position: relative;
  .left {
    display: flex;
    align-items: center;
  }
  p {
    padding-left: 14px;
    color: #ffffff;
    font-weight: 300;
    font-size: .9em;
    line-height: 1.2em;
    span { font-weight: 400; }
  }
  img {
    width: 60px;
    height: 60px;
  }
  a {
    font-size: 25px;
    color: #FC5185;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}