.Landing {
  min-height: 100vh;
  .landing-content {
    display: grid;
    grid-template-columns: 1.2fr 1.1fr .9fr;
  }
  .Blurb {
    text-align: center;
  }
  .Modal > .inner {
    min-width: 500px;
    .LoginForm {
      border-radius: 5px;
    }
  }
  .Footer {
    // margin-top: 156px;
  }
}
