@import '../../styles/colors.scss';

.Show {
  padding-bottom: 40px;
  .back-button {
    color: $white;
    position: fixed;
    z-index: 999;
    top: 15px;
    left: 20px;
    font-size: 1.4em;
  }
  .top {
    display: flex;
    h4 {
      font-size: 1.1em;
      margin: 0;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 400;
    }
    .right {
      padding-left: 20px;
    }
    .stat {
      margin-bottom: 8px;
      line-height: 1.25em;
      label {
        display: block;
        font-size: .72em;
        color: $darkgray;
        font-weight: 300;
      }
      span {
      }
    }
  }
  p {
    font-size: .85em;
    font-weight: 3;
    margin: 27px 0;
  }
  .lists {
    label {
      display: block;
      padding-bottom: 13px;
      border-bottom: solid 1px $darkgray;
    }
    ul {
      padding-left: 1em;
      li {
        position: relative;
        margin-bottom: 13px;
        span.check {
          position: absolute;
          right: 0;
          font-size: 1.3em;
          color: $base;
          opacity: 0;
          &.visible {
            opacity: 1;
          }
        }
      }
    }
  }
  .prop {
    color: $gray;
    &.true {
      color: $base;
    }
  }
  .prompts {
    .prompt-group {
      margin-bottom: 20px;
      position: relative;
      .prop {
        position: absolute;
        right: 0;
        font-size: 1.3em;
      }
    }
  }
  .Button.save {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 53px;
    background: $base;
  }
}
