@import '../../styles/colors.scss';

.Tabs {
  margin: 30px 0 45px 0;
  color: $gray;
  font-weight: 300;
  display: flex;
  // text-align: center;
  // &:after {
  //   content: '';
  //   clear: both;
  //   display: block;
  // }
  .tab {
    // NOTE: make fallback
    // display: inline-block;
    // display: table-cell;
    // width: 50%;
    // float: left;
    flex-grow: 1;
    text-align: center;
    border-bottom: solid 1px $gray;
    padding-bottom: 15px;
    &.active {
      color: $base;
      border-color: $base;
    }
  }
}