.Sidebar {
  padding: 84px 27px 27px 27px;
  background: #353535;
  box-shadow: 1px 0 4px 0 rgba(0,0,0,0.50);
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
}