.LoginForm {
  padding: 40px 60px;
  background: #191919; }
  .LoginForm .Banner .content {
    padding: 30px; }
  .LoginForm form input {
    display: block;
    margin: 25px 0;
    width: 100%; }
  .LoginForm form button {
    width: 215px;
    margin: 5px 0; }
  .LoginForm .ErrorPane {
    margin-top: 22px;
    margin-left: -60px;
    margin-right: -60px; }
    .LoginForm .ErrorPane p {
      text-align: center; }
