.LoginForm {
  padding: 40px 60px;
  background: #191919;
  .Banner .content {
    padding: 30px;
  } 
  form input {
    display: block;
    margin: 25px 0;
    width: 100%;
  }
  form button {
    width: 215px;
    margin: 5px 0;
  }
  .ErrorPane {
    margin-top: 22px;
    margin-left: -60px;
    margin-right: -60px;
    p { text-align: center; }
  }
}