.LandingPage {
  background: #FF397B;
  min-height: 100vh;
  text-align: center;
  padding: 27px; }
  .LandingPage h1 {
    margin-top: 75px;
    color: #ffffff;
    font-weight: 400; }
  .LandingPage .content {
    margin-top: 95px;
    padding: 35px 30px;
    background: #ffffff; }
    .LandingPage .content p {
      margin: 0;
      margin-bottom: 1em; }
    .LandingPage .content .Button {
      display: block;
      margin-top: 45px;
      margin-left: auto;
      margin-right: auto; }
    .LandingPage .content.login {
      padding: 35px 57px; }
      .LandingPage .content.login .Input {
        width: 100%;
        margin-bottom: 20px; }
        .LandingPage .content.login .Input[type='password'] {
          margin-bottom: 35px; }
        .LandingPage .content.login .Input.name {
          margin-top: 45px; }
      .LandingPage .content.login .Button {
        width: 100%;
        margin: 0; }
