.Stats {
  display: flex;
  position: relative;
  padding-bottom: 20px; }
  .Stats .profile-image {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: #FFFFFF; }
  .Stats img {
    width: 100%;
    height: 100%; }
  .Stats .user-info {
    padding-left: 16px; }
    .Stats .user-info h5 {
      margin: 0;
      font-size: 12px;
      font-weight: 300; }
    .Stats .user-info .user-name {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
      margin: 10px 0 16px 0; }
    .Stats .user-info p {
      margin: 2px 0;
      font-weight: 300; }
  .Stats .stats-footer {
    position: absolute;
    bottom: 0;
    left: 5px; }
