.ListPopup {
  background: #ffffff;
  color: #000000;
  border: solid 2px #212121;
  padding: 20px 0 11px 0px;
  z-index: 999; }
  .ListPopup li {
    list-style-type: none;
    cursor: pointer;
    padding: 9px 20px;
    position: relative; }
    .ListPopup li:hover {
      background: #FFE1EA; }
    .ListPopup li:first-child {
      background: #ffffff;
      border: solid 2px #212121;
      transform: translateX(17px);
      margin-bottom: 9px; }
    .ListPopup li i {
      position: absolute;
      right: 20px;
      top: 11px; }
