.ListPopup {
  background: #353535;
  color: #ffffff;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5);
  min-width: 150px;
  cursor: pointer;
  transform: translateY(-100%); }
  .ListPopup .list-item {
    padding: 12px;
    transition: background 300ms; }
    .ListPopup .list-item:not(:last-child) {
      border-bottom: solid 1px #282828; }
    .ListPopup .list-item:hover {
      background: #FC5185;
      color: #ffffff; }
    .ListPopup .list-item i {
      position: absolute;
      right: 12px;
      font-weight: 700; }
