.ProfilePage {
  form {
    padding: 30px 0;
  }
  input, button {
    display: block;
    margin-bottom: 30px;
  }
  input {
    width: 100%;
  }
  button {
    width: 215px;
    margin: 0 auto;
  }
}