@import '../../styles/_colors.scss';

.NavBar {
  background: #323232;
  color: #ffffff;
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  padding: 13px 30px 16px 30px;
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  a.active {
    color: $base;
  }
}