@import '../../styles/colors.scss';

.NavBar {
  background: #323232;
  color: #ffffff;
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  padding: 7px 30px 3px 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  span {
    font-size: 1.4em;
    display: block;
  }
  label {
    font-size: .80em;
  }
  a.active {
    color: $base;
  }
}